{% extends "layout.html" %}

{% block title %}
    MyAccounts
{% endblock %}

{% block main %}
<div> 
    <form action="/categories" method="post">
        <p></p>
        {% if message %}
        <div class="alert alert-primary mb-0 text-center" role="alert"> {{ message }} </div>
        {% endif %}
        <p></p>

        <div class="input-group">
            <input autocomplete="off" autofocus class="form-control" id="new_category" name="new_category" placeholder="New Category" type="text">
            <button class="btn btn-primary" type="submit" id="create">Create a new category</button>
        </div>
     </form>
 </div>

<main class="container py-5 text-center">
    <div class="grid-container">
        {% for category in categories %}
        <div class="grid-item">{{ category }}</div>
        {% endfor %}
    </div>
</main>
{% endblock %}