{% extends "layout.html" %}

{% block title %}
    Expenses
{% endblock %}

{% block main %}

<main class="container py-5 text-center"> 
    <!-- show main page with """categories""" -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/expenses">Expenses</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="/income">Income</a>
        </li>
    </ul>
</main>

<form action="/expenses" method="post">
    <p></p>
    {% if message %} 
    <div class="alert alert-primary mb-0 text-center" role="alert"> {{ message }} </div>
    {% endif %}
    <p></p>

    <div class="input-group">
        <select autocomplete="off" autofocus class="form-control" id="category" name="category">
            <option disabled selected value="">To category</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <select autocomplete="off" autofocus class="form-control" id="account_name" name="account_name">
            <option disabled selected value="">From account</option>
            {% for account_data in accounts %}
                <option value="{{ account_data[0] }}">{{ account_data[0] }} - {{ account_data[1] }} {{ account_data[2] }} </option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus class="form-control" id="description" name="description" placeholder="Description" type="text">
        <input autocomplete="off" autofocus class="form-control" id="amount" name="amount" placeholder="Amount" type="text">
        <button class="btn btn-primary" type="submit" id="create">Add new expense</button>
    </div>
 </form>
</div>
</main>
{% endblock %}

<main class="container py-5 text-center">
    <table class="table table-bordered border-primary">
      <thead>
          <tr>
              <th class="text-middle"> Category </th>
              <th class="text-middle"> Description </th>
              <th class="text-middle">Account name</th>
              <th class="text-middle"> Balance </th>
          </tr>
      </thead>
      <tbody> 
          {% for category in categories %}
              <tr>
                <th class="text-middle">{{ category[0] }} </th>
                <td class="text-middle">{{ category[1] }}</td>
                <td class="text-middle">{{ category[2] }}</td>
                <td class="text-middle">{{ category[3] }}</td>
                <input type="button" value="submit"/>Delete</input>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div>
