{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<div class="register">
    <img src="static/sloganMyMoney.png" class="card-img-middle" alt="sloganMyMoney">

    <form action="/login" method="post">
        {% if message %}
        <div class="alert alert-primary mb-0 text-center" role="alert"> {{ message }} </div>
        {% endif %}
        <p></p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
</div>
{% endblock %}