/* categories grid */
.grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}
.grid-item {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(56, 71, 231);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

/* Size for brand */
nav a.navbar-brand
{
    font-size: x-large;
    color: rgb(56, 71, 231) !important;
    font-style: bold;
    font-weight: 600;
}

.register {
    display: flex;
    width: 55%
}


.navbar-light .navbar-nav .nav-link
{
    color: rgb(56, 71, 231) !important;
}

.nav-tabs a.nav-link
{
    font-size: large;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.544) !important;
}

.nav-tabs a.nav-link.active
{
    font-size: large;
    font-weight: 600;
    color:blue !important;
}

ul.nav.nav-tabs
{
    border-bottom: 0.5px solid #b1d8ff;
}
